@media screen and (max-width:460px) {
    nav  {
        width: 100%;
        
        }
    
    
    .form-container {
        display: none;
    }
    .cart-container {
        gap: 10px;
        
    }

    .cart {
        width: 76%;
        margin-top: 23px;
    }
}

 @media screen and(max-width:768px) {
    nav {
        width: 100%;
    }

    .form-container {
       display: flex;
       justify-content: center;
    }
} 




