* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    text-overflow: ellipsis;
    overflow-x: hidden;
    
    white-space: nowrap;

}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/*NavBar*/

nav {
    
    width: 100%;
    min-height: 30px;
    flex:1 1 auto;
}


nav .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 5px 25px;
}

nav .nav-bar .nav-logo img {
    width: 75px;
    cursor: pointer;
    
}



nav .nav-bar .form-container form {
    display: flex;
    align-items: center;
    
}

nav .nav-bar .form-container input {
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    padding-left: 45px;
    position: relative;
    border: none;
}

.search-icon{
    /* position: absolute; */
    z-index: 1;
    padding-left: 5px;
    
}

.search-icon:hover {
    cursor: pointer;
    color: gold;
}


.cart-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.cart-container i:hover {
    cursor: pointer;
    color: gold;

}


/* end NavBar */


/* Container/Cards */

.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
    width: 300px;
    height: auto;
    float: right;
    margin-right: 53px;
    margin-bottom: 20px;
    display: none;
    border-radius: 5px;
    -webkit-box-shadow: 7px 2px 13px -3px rgba(0,0,0,0.47); 
    box-shadow: 7px 2px 13px -3px rgba(0,0,0,0.47);
}

.cart h2 {
    margin: 5px 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.cart span {
    font-weight: 500;

}

.cart .btn {
    width: 200px;
    margin: 10px 50px;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
}

.delete-cart {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    margin: 10px 20px;
   
    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    
}

.container .row .cards-container .card{
    border: 1px solid black;
    width: 246px;
    margin: 30px;
    flex-direction: column;
    transition: 0.5s ;
    border-radius: 5px;
    -webkit-box-shadow: 7px 2px 13px -3px rgba(0,0,0,0.47); 
    box-shadow: 7px 2px 13px -3px rgba(0,0,0,0.47); 
}



.container .row .cards-container  img {
    width: 100%;
    height: 300px;
    cursor: pointer;
    
}

.card:hover {
    transform: scale(1.1);
}


.details {
    flex-direction: column;
    display: flex;
    width: 100%;
    max-height: 100px;
    justify-content: space-between;
}

.details span {
    font-size: 1.1rem;
    margin: 6px 10px;
}

.details button {
    margin: 8px 55px;
    cursor: pointer;
}




